body{
    margin: 0;
    padding: 0;
    font-family: Roboto !important;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

/* Remember to remove border radius for main container element */
#wrapper main{
    max-height:85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#wrapper{
    height: 100vh;
    margin: 0;
    margin-top: -2;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    background-color: rgb(226, 221, 218);
}
select{
    padding: 0 !important;
}
#wrapper header{
    width: 100%;
}

.flat{
    border-radius: 0 !important;
}

#wrapper main{
    height: 85vh;
}
 #wrapper main .view{
     max-height: 85vh;
     overflow-y: scroll;
 }


 #login_title{
     font-size: 42
}

footer{
    height: 8vh;
}

.ui.raised.segment.tab_segment{
    height: auto;
    border-radius: 25px;
}

.card{
    border-radius: 25px/25px !important;
}