
@font-face {
    font-family: orbitron;
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
    font-family: Andika;
    src: url(../fonts/AndikaNewBasic-Bold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}